@{
    ViewData["Title"] = "Post-Exhumation Datums";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@model WINTEX.Models.PostExhumationDatum


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <div class="d-flex justify-content-center">
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <hr />
    <br />
    <div class="d-flex justify-content-center">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.HairTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.HairTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SoftTissueTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.BoneTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.BoneTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ToothTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ToothTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.TextileTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.TextileTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.BurialSampleTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.BurialSampleTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.DescriptionOfTaken)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SampleNum)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SampleNum)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Sex)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Sex)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SexBodyCol)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SexBodyCol)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.GefunctionTotal)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.GefunctionTotal)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.PreservationNotes)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.PreservationNotes)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.AgeAtDeath)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.AgeAtDeath)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.EstimateLivingStature)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.BodyAnalysis)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.BodyAnalysis)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SexBurialMethod)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SexBurialMethod)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FaceBundle)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FaceBundle)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Mummy)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Mummy.MummyId)
            </dd>
        </dl>
    </div>
    <div class="d-flex justify-content-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="MummyId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-admin" asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
