@{
    ViewData["Title"] = "Storage Locations";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@model WINTEX.Models.FegbstorageLocation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <div class="d-flex justify-content-center">
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <hr />
    <br />
    <div class="d-flex justify-content-center">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Rack)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Rack)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Shelf)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Shelf)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SubShelf)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SubShelf)
            </dd>
        </dl>
    </div>
    <div class="d-flex justify-content-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ShelfId" />
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            <a class="btn btn-admin" asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
