@model WINTEX.Models.FegbstorageLocation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>FegbstorageLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubShelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubShelf)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
    {<a asp-action="Edit" asp-route-id="@Model.ShelfId">Edit</a>}
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
