@model IEnumerable<WINTEX.Models.FegbstorageLocation>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
        {
            <a asp-action="Create">Create New</a>
        }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubShelf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubShelf)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ShelfId">Details</a>
                @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ShelfId">Edit</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.ShelfId">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
