@{
    ViewData["Title"] = "Burial Storage";
    Layout = "~/Views/Shared/_RestOfSiteLayout.cshtml";
}

@model IEnumerable<WINTEX.Models.FegbmummyStorage>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="d-flex justify-content-center mt-2" style="z-index: 2; position: relative">
        <div class="card rounded-3 d-flex mt-2 py-3 px-3" style="max-width: 100%; min-width:50%; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0); border-style: solid; border-width: 7px; border-color: #75a8b3; z-index: 3">
            <div class="d-flex justify-content-start align-items-center">
                <div class="d-flex justify-content-start" style="width: 20%">
                    <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage"
                         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                         page-class-selected="btn-dark" class="btn-group p-2"></div>
                </div>
                <div class="d-flex justify-content-center" style="width: 60%">
                    <h4>Description needed here</h4>
                </div>
                @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
                {
                    <div class="d-flex justify-content-end" style="width: 20%">
                        <a class="btn btn-admin" asp-action="Create">Create New</a>
                    </div>
                }
            </div>
            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Mummy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Shelf)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mummy.MummyId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shelf.Shelf)
                            </td>
                            <td>
                                <div class="p-1">
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                                </div>
                                @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                                {
                                    <div class="p-1">
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                                    </div>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="p-1">
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </div>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="d-flex">
                    <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage - 1)"
                       class="btn container-fluid btn-outline-dark @ViewBag.HasPreviousPage">Previous Page</a>
                </div>
                <br />
                <div class="d-flex">
                    <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage + 1)"
                       class="btn container-fluid btn-outline-dark @ViewBag.HasNextPage">Next Page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
