@model IEnumerable<Mummy>
@{
    ViewData["Title"] = "Burials";
    Layout = "~/Views/Shared/_RestOfSiteLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mummies - Burials</title>
</head>
<body>
    <div class="d-flex justify-content-center mt-2" style="z-index: 2; position: relative">
        <div class="card rounded-3 d-flex mt-2 py-3 px-3 mx-5" style="max-width: 100%; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0); border-style: solid; border-width: 7px; border-color: #75a8b3; z-index: 3; overflow-x: scroll;">
            <div class="d-flex justify-content-start align-items-center flex-wrap">
                <div class="d-flex justify-content-start" style="width: 20%">
                    <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage" page-url-headDirection="@ViewBag.HeadFilter"
                         page-url-presIndex="@ViewBag.PresFilter" page-url-hairColor="@ViewBag.HairFilter" page-url-burialDepth="@(ViewBag.DepthFilter)"
                         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                         page-class-selected="btn-dark" class="btn-group p-2"></div>
                </div>
                <div class="d-flex justify-content-center" style="width: 60%">
                    <h4>Indivdual Mummy Info</h4>
                </div>
                @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
                {
                    <div class="d-flex justify-content-end" style="width: 20%">
                        <a class="btn btn-admin" asp-action="Create">Create New</a>
                    </div>
                }
            </div>
            @*
        <div class="row">
            <div class="col-4 col-md-3 col-lg-2">
                <div class="btn container-fluid btn-dark">Page @ViewBag.CurrentPage</div>
            </div>
        </div>
            *@

            </br>

        <div class="d-flex justify-content-around align-items-center">
            <form asp-controller="Mummies" asp-action="FilterMummies" method="post" style="width: 92%">
                <div class="d-flex justify-content-around align-items-center flex-wrap" style="width: 100%">
                    <div class="d-flex justify-content-center" >
                        <label class="control-label">Burial Depth (Greater Than or Equal To):&nbsp;</label>
                        <input class="form-control" style="width: 75px"name="burial-depth" type="number" value="@(ViewBag.FilterBurialDepth != null ? Convert.ToInt16(ViewBag.FilterBurialDepth) : null )" min="0" max="ViewBag.MaxDepth" />
                    </div>

                    <div class="d-flex justify-content-center" >
                        <label class="control-label">Hair Color Code:&nbsp;</label>
                        <select class="form-control" name="hair-color" asp-items="ViewBag.HairColorCode">
                            <option value="all">All</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <label class="control-label">Preservation Index:&nbsp;</label>
                        <select class="form-control" name="pres-index" asp-items="ViewBag.PresIndex">
                            <option value="all">All</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <label class="control-label">Head Direction:&nbsp;</label>
                        <select class="form-control" name="head" asp-items="ViewBag.HeadDirection">
                            <option value="all">All</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-end" >
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end">
                <form asp-controller="Mummies" asp-action="ClearFilters" method="post">
                    <button class="btn btn-primary" type="submit">Clear Filters</button>
                </form>
            </div>
        </div>

            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Location
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BurialNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BurialDepth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Length)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PreservationIndex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HairColorCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BurialMaterials)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateExcavated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HeadDirection)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ArtifactFound)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.Shaft != null)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shaft.Lookup)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tomb.LookupValue)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.BurialNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BurialDepth) cm
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Length)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PreservationIndex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HairColorCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BurialMaterials)
                            </td>
                            @if (item.DateExcavated != null)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateExcavated)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.DayExcavated) @Html.DisplayFor(modelItem => item.MonthExcavated) @Html.DisplayFor(modelItem => item.YearExcavated)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.HeadDirection)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArtifactFound)
                            </td>
                            <td>
                                <div class="p-1">
                                    <a asp-action="Details" class="btn btn-admin" asp-route-id="@item.MummyId">Details</a>
                                </div>
                                @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                                {
                                    <div class="p-1">
                                        <a asp-action="Edit" asp-route-id="@item.MummyId">
                                            <input type="submit" class="btn btn-admin" value="Edit">
                                        </a>
                                    </div>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="p-1">
                                        <a asp-action="Delete" asp-route-id="@item.MummyId">
                                            <input type="submit" class="btn btn-primary" value="Delete">
                                        </a>
                                    </div>

                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="d-flex">
                    <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage - 1)"
                       class="btn container-fluid btn-outline-dark @ViewBag.HasPreviousPage">Previous Page</a>
                </div>
                <br />
                <div class="d-flex">
                    <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage + 1)"
                       class="btn container-fluid btn-outline-dark @ViewBag.HasNextPage">Next Page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
