@{
    ViewData["Title"] = "Biological Sample Notes";
}


@model IEnumerable<WINTEX.Models.BioSamplesNote>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>

        @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
        {
            <a class="btn btn-admin" asp-action="Create">Create New</a>
        }
    </p>
    <div class="d-flex justify-content-start">
        <div class="row">
            <div class="col-11">
                <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage"
                     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                     page-class-selected="btn-dark" class="btn-group p-2"></div>
            </div>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NoteBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BioSample)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BioSample.BioSampleId)
                    </td>
                    <td>
                        <div class="p-1">
                            <a class="btn btn-admin" asp-action="Details" asp-route-id="@item.BioNoteId">Details</a>
                        </div>
                        @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                        {
                            <div class="p-1">
                                <a class="btn btn-admin" asp-action="Edit" asp-route-id="@item.BioNoteId">Edit</a>
                            </div>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="p-1">
                                <a class="btn btn-admin" asp-action="Delete" asp-route-id="@item.BioNoteId"> Delete </a>
                            </div>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
