@model IEnumerable<WINTEX.Models.TombLocation>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LookupValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaHillBurial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tomb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LookupValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaHillBurial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tomb)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TombLocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TombLocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TombLocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
