@{
    ViewData["Title"] = "Carbon Dating";
    Layout = "~/Views/Shared/_RestOfSiteLayout.cshtml";
}

@model IEnumerable<WINTEX.Models.CarbonDating>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="d-flex justify-content-center mt-2" style="z-index: 2; position: relative">
        <div class="card rounded-3 d-flex mt-2 py-3 px-3 mx-5" style=" min-width:50%; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0); border-style: solid; border-width: 7px; border-color: #75a8b3; z-index: 3; overflow-x: scroll; ">
            <div class="d-flex justify-content-start align-items-center">
                <div class="d-flex justify-content-start" style="width: 20%">
                    <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage"
                         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                         page-class-selected="btn-dark" class="btn-group p-2"></div>
                </div>
                <div class="d-flex justify-content-center" style="width: 60%">
                    <h4>Description needed here</h4>
                </div>
                @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
                {
                    <div class="d-flex justify-content-end" style="width: 20%">
                        <a class="btn btn-admin" asp-action="Create">Create New</a>
                    </div>
                }
            </div>
            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Racknum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BurialNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AreaHillBurialNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TubeNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SizeMm)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Foci)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.C14sample2017)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocationDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Questions)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Conventional14CageBp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._14ccalendarDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Calibrated95PerCalendarDateMax)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Calibrated95PerCalendarDateMin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Calibrated95PerCalendarDateSpan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Calibrated95perCalendarDateAvg)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Notes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mummy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShaftLocation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Racknum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BurialNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AreaHillBurialNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TubeNum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SizeMm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Foci)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.C14sample2017)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Questions)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Conventional14CageBp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item._14ccalendarDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Calibrated95PerCalendarDateMax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Calibrated95PerCalendarDateMin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Calibrated95PerCalendarDateSpan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Calibrated95perCalendarDateAvg)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mummy.MummyId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShaftLocation.ShaftId)
                            </td>
                            <td>
                                <div class="p-1">
                                    <a class="btn btn-admin" asp-action="Details" asp-route-id="@item.CarbonDatingId">Details</a>
                                </div>
                                @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                                {
                                    <div class="p-1">
                                        <a class="btn btn-admin" asp-action="Edit" asp-route-id="@item.CarbonDatingId">Edit</a>
                                    </div>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="p-1">
                                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.CarbonDatingId">Delete</a>
                                    </div>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="d-flex">
                    <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage - 1)"
                       class="btn container-fluid btn-outline-dark @ViewBag.HasPreviousPage">Previous Page</a>
                </div>
                <br />
                <div class="d-flex">
                    <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage + 1)"
                       class="btn container-fluid btn-outline-dark @ViewBag.HasNextPage">Next Page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
