@{
    ViewData["Title"] = "Datums";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@model WINTEX.Models.Fegbdatum



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <hr />
    <br />
    <div class="d-flex justify-content-center">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.YearOnSkull)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.YearOnSkull)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.MonthOnSkull)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.MonthOnSkull)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.DayOnSkull)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.DayOnSkull)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FieldBook)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FieldBook)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FieldBookPageNum)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FieldBookPageNum)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.PostcraniaAtMagazine)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.PostcraniaAtMagazine)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Byusample)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Byusample)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SkullAtMagazine)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SkullAtMagazine)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Skull2018StudySex)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Skull2018StudySex)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Skull2018StudyAge)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Skull2018StudyAge)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Mummy)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Mummy.MummyId)
            </dd>
        </dl>
    </div>
    <div class="d-flex justify-content-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="MummyId" />
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            <a class="btn btn-admin" asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
