@model IEnumerable<Mummy>
@{ 
  ViewData["Title"] = "Burials";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
        {
            <a class="btn btn-admin" asp-action="Create">Create New</a>
        }
    </p>

    <div class="d-flex justify-content-start">
        <div class="row">
            <div class="col-11">
                <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage" page-url-headDirection="@ViewBag.HeadFilter" 
                     page-url-presIndex="@ViewBag.PresFilter" page-url-hairColor="@ViewBag.HairFilter" page-url-burialDepth="@(ViewBag.DepthFilter)"
                     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                     page-class-selected="btn-dark" class="btn-group p-2"></div>
            </div>
        </div>
    </div>
    <br />
    @*
        <div class="row">
            <div class="col-4 col-md-3 col-lg-2">
                <div class="btn container-fluid btn-dark">Page @ViewBag.CurrentPage</div>
            </div>
        </div>
    *@


    <div class="row">
        <form asp-controller="Mummies" asp-action="FilterMummies" method="post">
            <label>Burial Depth (Greater Than or Equal To):</label>
            <input name="burial-depth" type="number" value="@(ViewBag.FilterBurialDepth != null ? Convert.ToInt16(ViewBag.FilterBurialDepth) : null )" min="0" max="ViewBag.MaxDepth" />
            <label>Hair Color Code:</label>
            <select name="hair-color" asp-items="ViewBag.HairColorCode">
                <option value="all">All</option>
            </select>
            <label>Preservation Index:</label>
            <select name="pres-index" asp-items="ViewBag.PresIndex">
                <option value="all">All</option>
            </select>
            <label>Head Direction:</label>
            <select name="head" asp-items="ViewBag.HeadDirection">
                <option value="all">All</option>
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <form asp-controller="Mummies" asp-action="ClearFilters" method="post">
            <button type="submit">Clear Filters</button>
        </form>
    </div>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Location
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialDepth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Length)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreservationIndex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HairColorCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialMaterials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateExcavated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeadDirection)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtifactFound)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.Shaft != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Shaft.Lookup)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Tomb.LookupValue)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialDepth) cm
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreservationIndex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HairColorCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialMaterials)
                    </td>
                    @if (item.DateExcavated != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DateExcavated)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DayExcavated) @Html.DisplayFor(modelItem => item.MonthExcavated) @Html.DisplayFor(modelItem => item.YearExcavated)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.HeadDirection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtifactFound)
                    </td>
                    <td>
                        <div class="p-1">
                            <a asp-action="Details" class="btn btn-admin" asp-route-id="@item.MummyId">Details</a>
                        </div>
                        @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                        {
                            <div class="p-1">
                                <a asp-action="Edit" asp-route-id="@item.MummyId">
                                    <input type="submit" class="btn btn-admin" value="Edit">
                                </a>
                            </div>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="p-1">
                                <a asp-action="Delete" asp-route-id="@item.MummyId">
                                    <input type="submit" class="btn btn-admin" value="Delete">
                                </a>
                            </div>

                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <div class="row">
        <div class="col-6 col-md-5 col-lg-3 col-xl-2">
            <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage - 1)"
               class="btn container-fluid btn-outline-dark @ViewBag.HasPreviousPage">Previous Page</a>
        </div>
        <br />
        <div class="col-6 col-md-5 col-lg-3 col-xl-2">
            <a asp-action="Index" asp-route-pageNum="@(ViewBag.CurrentPage + 1)"
               class="btn container-fluid btn-outline-dark @ViewBag.HasNextPage">Next Page</a>
        </div>
    </div>
</body>
</html>
