@{
    ViewData["Title"] = "Delete Biological Sample";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}


@model WINTEX.Models.BiologicalSample



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <hr />
    <br />
    <div class="d-flex justify-content-center">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.RackNum)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.RackNum)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.BagNum)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.BagNum)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.BurialNum)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.BurialNum)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ClusterNum)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ClusterNum)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Notes)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Initials)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Initials)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SampledMonth)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SampledMonth)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SampledDay)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SampledDay)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.SampledYear)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.SampledYear)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.PreviouslySampled)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.PreviouslySampled)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Mummy)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Mummy.MummyId)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Shaft)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Shaft.ShaftId)
            </dd>
        </dl>
    </div>
    <div class="d-flex justify-content-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="BioSampleId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-admin" asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
