@model IEnumerable<WINTEX.Models.BiologicalSample>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark" class="btn-group pull-right m-1 p-3"></div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RackNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BagNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BurialNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClusterNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Initials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SampledMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SampledDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SampledYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreviouslySampled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mummy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shaft)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RackNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BagNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BurialNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClusterNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Initials)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SampledMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SampledDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SampledYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreviouslySampled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mummy.MummyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shaft.ShaftId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BioSampleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BioSampleId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BioSampleId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
