@model IEnumerable<WINTEX.Models.MummyNote>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("Researcher"))
        {
            <a asp-action="Create">Create New</a>
        }
    </p>
    <div num-pages="@ViewBag.TotalPages" current-page="@ViewBag.CurrentPage"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark" class="btn-group pull-right m-1 p-3"></div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NoteType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoteBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mummy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mummy.MummyId)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.NoteId">Details</a>
                        @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.NoteId">Edit</a>
                        }
                        @if (User.IsInRole("Admin"))
                        {                    
                            <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
